{% extends '@BasefonyAdmin/container.html.twig' %}

{% block header %}
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h1><span class="fa fa-edit"></span>
                {{ 'New'|trans }}
            </h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            {% include '@BasefonyPage/Admin/menu.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block javascript %}
    {% include '@BasefonyPage/Admin/js.html.twig' %}
{% endblock %}