{% trans_default_domain 'messages' %}
<div class="col-md-3  col-sm-6">
    <h4><span class="fa fa-file-text"></span> {{ 'Pages'|trans }}</h4>
    <ul class="list-group">
        <li class="list-group-item"><span class="fa fa-list"></span>  <a href="{{ url('basefony_admin_page_index') }}">Sayfa Listesi</a></li>
        <li class="list-group-item"><span class="fa fa-plus"></span> <a href="{{ url('basefony_admin_page_add') }}">Sayfa Ekle</a></li>
    </ul>
</div>